polls/static/polls/stimuli/*.png
polls/static/polls/stimuli/*.mat
polls/static/polls/exemplars/*.png
*.bak
run_queries.bat
*.sqlite3
*.bat
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
